.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        .side-bar__user-name__top-items__name__user-name
          masa
        .side-bar__user-name__top-items__name__icon
          .side-bar__user-name__top-items__name__icon__pen
          %i.far.fa-edit
          .side-bar__user-name__top-items__name__icon__gear
          %i.fas.fa-cog
  .side-bar__group
    .side-bar__group__group-content
      .side-bar__group__group-content__team
        .side-bar__group__group-content__team__name
          a
        .side-bar__group__group-content__team__first-message
          まだメッセージがありません